.smoothBar::-webkit-scrollbar {
  width: 6px; /* Slightly wider for visibility */
}

.smoothBar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.smoothBar:hover::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
}

.smoothBar::-webkit-scrollbar-track {
  background: transparent;
}