@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://cssicon.space/css/icons.css";

.icon,
.icon:before,
.icon:after,
.icon i,
.icon i:before,
.icon i:after {
  transition: all 0.4s ease;
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }

  .layout_container {
    @apply max-w-[1800px] mx-auto px-[10px] sm:px-[20px] 2xl:px-[80px];
  }
}

.gridResponsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 300px));
}

.PhoneInputInput {
  outline: none;
  width: 100%;
  height: 100%;
}

.position_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 4s linear infinite; /* Rotate continuously */
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Full rotation */
  }
}

.smoothBar::-webkit-scrollbar {
  width: 5px;
  opacity: 1;
}

.smoothBar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.smoothBar:hover::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@layer base {
  :root {
    --baseBackground: #f5f5f5;
    --solidWhite: #fff;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --baseBackground: #1b1a1e;
    --solidWhite: #242424;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.canvasHeadGradient {
  background: #a1ffd4;
  background: linear-gradient(169deg, #3df1a0 5%, #3df1ca 50%, #aaff68 100%);
}

.avatarGradient {
  background: linear-gradient(169deg, #12ff94 5%, #fecaff 50%, #f0bff1 100%);
}

.reset-all ul,
.reset-all li,
.reset-all h1,
.reset-all ol,
.reset-all p {
  all: revert !important; /* This will unset all inherited styles */
  margin: 0 !important; /* Reset margins */
  padding: revert !important; /* Reset padding */
}

.spin_center {
  animation: spin 2s linear infinite;
}

.gridUser_responsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
}
.gridGroup_responsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgSmooth {
  background-color: var(--baseBackground);
}

.activeRoute::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #3bb77e;
  position: absolute;
  bottom: -7px;
  left: 0;
}

.hideGradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.46262254901960786) 0%,
    var(--solidWhite) 67%
  );
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
